services:
  minio:
    image: minio/minio
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: supa-storage
      MINIO_ROOT_PASSWORD: secret1234
    volumes:
      - ./volumes/storage:/data:Z
    networks:
      - lab-supabase-storage

  minio-createbucket:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set supa-minio http://minio:9000 supa-storage secret1234;
      /usr/bin/mc mb supa-minio/stub || true;
      exit 0;
      "
    networks:
      - lab-supabase-storage

  imgproxy:
    image: darthsim/imgproxy:v3.8.0
    environment:
      IMGPROXY_BIND: ":5001"
      IMGPROXY_USE_ETAG: "true"
      IMGPROXY_ENABLE_WEBP_DETECTION: ${IMGPROXY_ENABLE_WEBP_DETECTION}
    networks:
      - lab-supabase-storage

  storage:
    image: supabase/storage-api:v1.11.13
    environment:
      ANON_KEY: ${ANON_KEY}
      SERVICE_KEY: ${SERVICE_ROLE_KEY}
      PGRST_JWT_SECRET: ${JWT_SECRET}

      # chama o REST do core (DNS de Swarm: stack_service)
      POSTGREST_URL: http://${CORE_STACK:-supabase-core}_rest:3000
      DATABASE_URL: postgres://supabase_storage_admin:${POSTGRES_PASSWORD}@${CORE_STACK:-supabase-core}_db:5432/${POSTGRES_DB}

      STORAGE_BACKEND: s3
      GLOBAL_S3_BUCKET: stub
      GLOBAL_S3_ENDPOINT: http://minio:9000
      GLOBAL_S3_PROTOCOL: http
      GLOBAL_S3_FORCE_PATH_STYLE: true
      AWS_ACCESS_KEY_ID: supa-storage
      AWS_SECRET_ACCESS_KEY: secret1234
      AWS_DEFAULT_REGION: stub

      FILE_SIZE_LIMIT: 52428800
      FILE_STORAGE_BACKEND_PATH: /var/lib/storage
      TENANT_ID: stub
      REGION: stub
      ENABLE_IMAGE_TRANSFORMATION: "true"
      IMGPROXY_URL: http://imgproxy:5001
    volumes:
      - ./volumes/storage:/var/lib/storage:Z
    networks:
      - lab-supabase-storage
      - lab-supabase-core

networks:
  lab-supabase-storage:
    external: true
  lab-supabase-core:
    external: true