services:
  minio:
    image: minio/minio
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: supa-storage
      MINIO_ROOT_PASSWORD: secret1234
    volumes:
      - type: bind
        source: /u02/supabase/minio
        target: /data
    networks:
      - lab-supabase-storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 10

  minio-createbucket:
    image: minio/mc
    entrypoint: >
      /bin/sh -c "
      until /usr/bin/mc alias set supa-minio http://minio:9000 supa-storage secret1234; do
        echo 'waiting minio...'; sleep 2;
      done;
      /usr/bin/mc mb supa-minio/stub || true;
      exit 0;
      "
    networks:
      - lab-supabase-storage

  imgproxy:
    image: darthsim/imgproxy:v3.8.0
    environment:
      IMGPROXY_BIND: ":5001"
      IMGPROXY_USE_ETAG: "true"
      IMGPROXY_ENABLE_WEBP_DETECTION: ${IMGPROXY_ENABLE_WEBP_DETECTION}
    networks:
      - lab-supabase-storage

  storage:
    image: supabase/storage-api:v1.11.13
    environment:
      ANON_KEY: ${ANON_KEY}
      SERVICE_KEY: ${SERVICE_ROLE_KEY}
      PGRST_JWT_SECRET: ${JWT_SECRET}

      POSTGREST_URL: http://${CORE_STACK:-supabase-core}_rest:3000
      DATABASE_URL: postgres://supabase_storage_admin:${POSTGRES_PASSWORD}@${CORE_STACK:-supabase-core}_db:5432/${POSTGRES_DB}

      STORAGE_BACKEND: s3
      GLOBAL_S3_BUCKET: stub
      GLOBAL_S3_ENDPOINT: http://minio:9000
      GLOBAL_S3_PROTOCOL: http
      GLOBAL_S3_FORCE_PATH_STYLE: true
      AWS_ACCESS_KEY_ID: supa-storage
      AWS_SECRET_ACCESS_KEY: secret1234
      AWS_DEFAULT_REGION: stub

      FILE_SIZE_LIMIT: 209715200
      TENANT_ID: stub
      REGION: stub
      ENABLE_IMAGE_TRANSFORMATION: "true"
      IMGPROXY_URL: http://imgproxy:5001
    volumes:
      - type: bind
        source: /u02/supabase/storage
        target: /var/lib/storage
    networks:
      - lab-supabase-storage
      - lab-supabase-core
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5000/status"]
      interval: 10s
      timeout: 5s
      retries: 10

networks:
  lab-supabase-storage:
    external: true
  lab-supabase-core:
    external: true